In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('grad-rate-data2016-2021-RAW.csv')

In [3]:
nocol = df.drop(columns=['DGUID', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'])
cleaned_df = nocol.dropna(subset='VALUE')

In [4]:
print(cleaned_df)

      REF_DATE                    GEO Graduation rate         Gender  VALUE
0    2016/2017                 Canada         On-time   Total gender   80.0
1    2016/2017                 Canada         On-time    Male gender   76.0
2    2016/2017                 Canada         On-time  Female gender   84.0
3    2016/2017                 Canada   Extended-time   Total gender   87.0
4    2016/2017                 Canada   Extended-time    Male gender   85.0
..         ...                    ...             ...            ...    ...
376  2020/2021       British Columbia   Extended-time    Male gender   88.0
377  2020/2021       British Columbia   Extended-time  Female gender   91.0
381  2020/2021  Northwest Territories   Extended-time   Total gender   51.0
382  2020/2021  Northwest Territories   Extended-time    Male gender   44.0
383  2020/2021  Northwest Territories   Extended-time  Female gender   57.0

[342 rows x 5 columns]

In [5]:
cleaned_df.to_csv('../cleandata/grad-data-clean.csv')